body {
  font-family: "Kanit", sans-serif;
  font-family: "Roboto", sans-serif;
}

.container-nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  position: fixed;
  z-index: 9999;
}

nav {
  min-width: 1240px;
  background-color: #000000;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  padding: 5px 7%;
  box-sizing: border-box;
  opacity: 65%;
}

.logo img {
  width: 100px;
}

.menu {
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .menu a:hover {
  color: #8f8f9f;
}

.menu a {
  font-family: "Kanit", sans-serif;
  font-weight: lighter;
  text-decoration: none;
  font-size: 16px;
  color: white;
}

.section-1 {
  width: 100%;
  background-image: url(../image/hero.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}

.section-1::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.5)
  );
  position: absolute;
  bottom: 0;
}

.container-1 {
  padding: 200px 100px 200px 100px;
  z-index: 2;
}

.section-1 img {
  width: 200px;
  border-radius: 50%;
}

.section-1 h1 {
  font-family: "Kanit", sans-serif;
  font-size: 80px;
  font-weight: bold;
  color: #e5273a;
  opacity: 75%;
}

.section-1 p {
  font-family: "Kanit", sans-serif;
  font-size: 20px;
  font-weight: lighter;
  color: white;
  opacity: 80%;
}

.section-2 {
  background-color: #1e2131;
}

.container-2 {
  padding: 150px 200px 150px 200px;
  display: grid;
  grid-template-areas: "box-1 box-2";
  grid-template-columns: 0.4fr 0.6fr;
}

.box-1 {
  grid-area: box-1;
}

.box-1 img {
  width: 300px;
}

.box-2 {
  grid-area: box-2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box-2 h2 {
  font-family: "Kanit", sans-serif;
  font-size: 30px;
  font-weight: 300;
  color: #e5273a;
  opacity: 80%;
}

.box-2 h1 {
  font-family: "Kanit", sans-serif;
  font-size: 46px;
  color: #ffffff;
  opacity: 80%;
  margin-top: 10px;
}

.box-2 p {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #ffffff;
  opacity: 80%;
  margin-top: 10px;
  line-height: 30px;
}

.box-table {
  font-family: "Kanit", sans-serif;
  color: #ffffff;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border: 2px solid rgba(229, 39, 58, 0.8);
  border-radius: 20px;
  margin-top: 10px;
}

.box-table td {
  padding: 10px;
  font-weight: 100;
}

.box-table td b {
  font-weight: 400;
}

.section-3 {
  background-color: #24253c;
}

.container-3 {
  padding: 150px 200px 150px 200px;
}

.section-3 h1 {
  font-family: "Kanit", sans-serif;
  font-size: 46px;
  color: #ffffff;
  opacity: 80%;
  text-align: center;
}

.section-3 h1 span {
  color: #e5273a;
}

.box-sm {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.box-sosmed {
  display: flex;
  width: 600px;
  justify-content: space-between;
}

.box-sosmed a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  padding: 10px;
  border-radius: 10px;
  font-size: 30px;
  color: #ffffff;
  border: 2px solid rgba(229, 39, 58, 1);
  text-align: center;
  text-decoration: none;
}

.box-sosmed a p {
  font-size: 20px;
}

.email:hover {
  color: #f8f8fa;
  border: none;
  background-image: linear-gradient(
    to right,
    #4285f4,
    #bb001b,
    #ea4335,
    #fbbc05,
    #34a853
  );
}

.instagram:hover {
  color: #f8f8fa;
  border: none;
  background-image: linear-gradient(
    to right,
    #405de6,
    #5851db,
    #833ab4,
    #c13584,
    #e1306c,
    #fd1d1d
  );
}

.github:hover {
  color: #f8f8fa;
  border: none;
  background-image: linear-gradient(to right, #2d333a, #000000);
}

footer {
  background-color: #1e2131;
  color: #ffffff;
  padding: 20px;
  text-align: center;
}
